
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

/*=================== common style section================   */
body{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    
}
.nav-manu, .brand{
    background: rgba(255, 144, 14, 0.1);
    
}


/*================== style for nav part ================ */
.nav-manu{
    display: flex;
    justify-content: space-between;
  
    align-items: center;
}
.nav-title{
    width: 302px;
    height: 53px;
    font-weight:700;
    font-size: 30px; 
    margin-left: 130px;
    text-align: center;
}
.nav-manu ul{
    display: flex;
    width: 400px;
    height: 26px;
    gap: 50px;
    align-items: center;
    list-style: none;
    margin-right: 150px;
}
.nav-manu li{
    text-align: center;
}
/* =========================style for brand part====================  */
.brand{
    margin-top: -25px;
}
.brand-info{
    width: 500px;
    height: 225px;
    margin-left: 400px;
    margin-top: 25px;
}
.brand-title h1{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 8px;
    
}
.brand-title p{
    font-weight: 400;
    font-size: 12px; 
    text-align: center;
}
.button{
   margin-left: 160px;
   margin-top: 28px;
}
button{
    width: 150px;
    height: 45px;
    color: white;
    border: none;
    border-radius: 15px;
    background: rgb(243, 138, 58);
}
.brand-banner img{
    width: 950px;
    height: 550px;
    margin-bottom: 20px;
    margin-left: 180px
}
/*===================== style for feature part ================ */
.features{
  display: flex;
  justify-content: space-between;
    
}
.feature{
    
    margin-left: 210px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
}
.feature img{
    width: 230px;
    height: 230px;
    
}
.feature-info{
    width: 340px;
    height: 280px;
    margin-top: 150px;
    margin-right: 200px;
}
.feature-title h1{
   
    font-weight: 700;
    font-size: 30px;
    line-height: 15px;
}
.text-gray{
    font-weight: 500;
    color: #727272;
}
.text-orang{

    color: #FF900E;
}
/* -=============== style for Features you will love & enjoy  =================- */
.container{
    display: flex;
    width: 950px;
    height: 1170px; 
    margin-left: 180px; 
    
}
/*================== container left ======================== */
.container-left{
    width: 630px;
    height: 700px;
    margin-top: 100px;
    

}
.container-left h1{
    font-weight: 700;
    font-size: 40px;
    font-size: 30px;
    line-height: 5px;
    
}
.container-title p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 35px;
  
}
/*-------- style for container box ---------------*/
.container-box{
    width: 380px;
    height: 130px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.08);
    transition: all 0.1s ease-in-out;
}
.container-box h1{
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
}
.container-title{
    margin-left: 20px;
    margin-bottom: 0px;

}
.container-pera{
    margin-left: 20px;
}

.container-box p{ 
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}




/*================== container right ================ */
.container-right{
    width: 630px;
    height: 1000px;
    margin-top: 100px;
    
}
.container-img img{
    width: 490px;
    height: 800px;
    margin-left: 70px;
}
.container-right-btn{
    
    line-height: 70px;
    margin-left: 40px;
    color: #FF900E;
}
.container-right-btn button{
    font-weight: 700;
    font-size: 44px;
    width: 220px;
    height: 150px;

}
.bnt-style{
    font-size: 25px;
}
/* ==================style for footer ====================== */
.facts{
    background-color: #FF900E;
    margin: 25px;
    border: 2px solid rgb(231, 48, 12);
}
.fact-info{
    width: 542px;
    height: 200px;
    margin-left: 180px;
}
.fact-title{
    font-weight: 700;
    font-size: 25px;
   
}
.fact-pera{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    
}
/* ===================style for achieve ================= */
.achieve{
    display: flex;
    width: 950px;
    height: 200px;
    margin-left: 150px;
    justify-content: space-evenly;
}
.achieve-box{
    width: 160px;
    height: 170px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: all 0.1s ease-in-out;

}
.achieve-icon{
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    color: rgb(255, 195, 42);
}
.achieve-box h1{
    display: flex;
    margin-left: 65px;
}
.achieve-box p{
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    color: #727272;
}
/* ==============style for sponsor ============== */
.sponsor{
    width: 500px;
    height: 150px;
    margin-left: 400px;
}
.sponsor-title{
    font-weight: 700;
    font-size: 25px;
    text-align: center;
   
}
.sponsor-pera{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    text-align: center;
    
}
/*================= stule for logo ==================== */
.logo{
   
    width: 950px;
    height: 70px;
    margin-left: 130px;
   
 
}
.logo ul{
    display: flex;
    justify-content: space-between
}
.logo img{
    width: 120px;
    height: 50px;
}
/*=============== contact us ================*/
.contact{
    width: 500px;
    height: 150px;
    margin-left: 500px;
}
.contact button{
    color: #ffffff;
    background: #000;
}
.contact input{
    width: 250px;
    height: 30px;
    border-radius: 8px;
}
/*============== footer================  */
.footer{
    display: flex;
    width: 950px;
    height: 60px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
    margin-left: 190px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    background: #FFF4E7;
    color: #424242;
}
.footer p{
    margin-left: 220px;

}
/* ==============hover ======== */
.achieve-box:hover{
    transform: rotate(45deg);
}
.container-box:hover{
    transform: scale(1.2);
}
/*======================== media queries ================ */
/* -----molibe dives----  */
@media only screen and (max-width:688px) {
 .nav-manu{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
 }
 .nav-title{
    display: flex;
    align-items: center;
    margin-right: 70px;
 }
 .nav-manu ul{
   width: 100%;
    display: flex;
    margin-left: 70px;
    margin-bottom: 500px;
    flex-direction: column;
 }
.brand-info{ 
    width: 100%;
    margin: 0px;
}
.brand-banner img{
    width: 100%;
    margin: 0px;
}  
.features{
   
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}  
.feature{
    width: 100%;
    display: grid;
    margin: 0px;
    grid-template-columns: repeat(1, 1fr); 
   justify-items: center;
   grid-row-gap: 20px;
}
.feature img{
    width: 345px;
    height: 300px;

}
.feature-info{
   margin-top: 10px;
   margin-left: 90px;
    
}
.container{
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
}
.container-left{
    width: 100%;
    margin: 0px;
}
.container-right{
    width: 100%;
    margin: 0px;
}
.container-title p{
    width: 250px;
    

}
.container-img img{
   display: none;
}
.container-right-btn{
    margin-top: 300px;
    margin-left: 90px;
}
.fact-info{
    width: 100%;
    margin-left: 90px;

}
.fact-pera p{
    margin: 0px;
    width: 100%;
}
.achieve{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    row-gap: 10px;
}
.sponsor{
    width: 100%;
    margin-top: 170px;
    margin-left: 1px;
   
}
.sponsor-pera{
    width: 350px;
    height: 100px;
   margin-left: 60px;
}
.logo ul{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.contact{
    display: none;
}
.footer{
    display: none;
}
}